@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
} */

.card {
    width: 350px;
    height: 120px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 0.75rem 0;
}

.card h1 {
    text-align: center;
    font-size: 0.75rem;
    padding: 10px;
    left: 15px;
}

.card .additional {
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(rgb(126, 147, 167), rgb(126, 147, 167));
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}


/* .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
} */


.additional:hover {
    width: 100%;
    border-radius: 0 5px 5px 0;
}


.card .additional .user-card {
    width: 100px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .more-info .user-card .level,
.card .additional .more-info .user-card .points {
    /* top: 15%; */
    color: #fff;
    text-transform: uppercase;
    font-size: 0.65em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
    left: 9px;
}

.card .additional .more-info .user-card .level {
    position: absolute;
    top: 0%;
}

.card .additional .more-info .user-card .avail {
    position: absolute;
    top: 16%;
    left: 25%;
    border-radius: 90px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.card .additional .more-info .user-card .avail h1 {
    font-size: 1.5rem;

}

.card .additional .more-info .user-card .points {
    position: absolute;
    font-size: 0.5rem;
    top: 70%;
}


.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    /* left: 50px; */
    margin-top: 1rem;
    height: 100%;
}

/* 
.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
    font-size: 0.75rem;
} */


.card .additional .coords {
    margin: 0 8rem;
    color: #fff;
    font-size: 0.75rem;
    width: 70%;
}

.card .additional .coords span+span {
    float: right;
}

.card .additional .stats {
    font-size: 0.75rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 5.2rem;
    /* right: 1rem; */
    top: auto;
    color: #fff;
    width: 100%;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1rem;
}

.card .general {

    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;

}

.card .general a {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
}



/*Favorites Star Styling*/


.container {
    margin-bottom: 15px;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating>input {
    display: none;
}

.rating>label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
}


/*heart styles*/

/* body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
} */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

[class^="fa"] {
    font-style: normal;
}

input[name^="like"],
input[name^="favourite"] {
    display: none;
}

input[name^="like"]+label[for],
input[name^="favourite"]+label[for] {
    background-color: #f8888e;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    color: #FFF;
    cursor: pointer;
    font-weight: 300;
    margin: 0.35em;
    padding: 6px 12px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

input[name^="favourite"]+label[for] {
    background-color: #FACE1F;
}

input[name^="like"]+label[for]:hover,
input[name^="like"]+label[for]:focus,
input[name^="favourite"]+label[for]:hover,
input[name^="favourite"]+label[for]:focus {
    background-color: #ff6770;
    outline: 0;
}

input[name^="favourite"]+label[for]:hover,
input[name^="favourite"]+label[for]:focus {
    background-color: #FACE1F;
}

/*start transparent button*/
input[name^="like"]+label[for].transparent {
    background-color: transparent;
    color: #FF6770;
}

input[name^="favourite"]+label[for].transparent {
    background-color: transparent;
    color: #FACE1F;
}

input[name^="like"]+label[for].transparent:hover,
input[name^="like"]+label[for].transparent:focus,
input[name^="favourite"]+label[for].transparent:hover,
input[name^="favourite"]+label[for].transparent:focus {
    color: #FF6770;
}

input[name^="favourite"]+label[for].transparent:hover,
input[name^="favourite"]+label[for].transparent:focus {
    color: #FACE1F;
}

input[name^="like"]+label[for].transparent:hover .fa-heart,
input[name^="like"]+label[for].transparent:focus .fa-heart,
input[name^="favourite"]+label[for].transparent:hover .fa-star,
input[name^="favourite"]+label[for].transparent:focus .fa-star {
    opacity: 0.25;
}

input[name^="favourite"]+label[for].transparent :hover,
input[name^="favourite"]+label[for].transparent :focus {
    color: #FACE1F;
}

/*end transparent button*/

/*start labels*/
input[name^="like"]+label[for] .do,
input[name^="like"]+label[for] .done,
input[name^="favourite"]+label[for] .do,
input[name^="favourite"]+label[for] .done {
    margin-left: 0.35em;
}

input[name^="like"]+label[for] .done,
input[name^="favourite"]+label[for] .done,
input[name^="like"]:checked+label[for] .do,
input[name^="favourite"]:checked+label[for] .do {
    display: none;
}

input[name^="like"]+label[for] .do,
input[name^="favourite"]+label[for] .do,
input[name^="like"]:checked+label[for] .done,
input[name^="favourite"]:checked+label[for] .done {
    display: inline-block;
}

/*end labels*/

/*start icons*/
input[name^="like"]+label[for] .fa,
input[name^="favourite"]+label[for] .fa {
    display: inline-block;
    position: relative;
}

input[name^="like"]+label[for] .fa .fa-heart-o,
input[name^="favourite"]+label[for] .fa .fa-star-o {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

input[name^="like"]+label[for] .fa .fa-heart,
input[name^="favourite"]+label[for] .fa .fa-star {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

input[name^="like"]+label[for] .fa .fa-heart.fx {
    color: #D91E3C;
}

input[name^="favourite"]+label[for] .fa .fa-star.fx {
    color: #F4B800;
}

input[name^="like"]:checked+label[for] .fa .fa-heart-o,
input[name^="favourite"]:checked+label[for] .fa .fa-star-o {
    opacity: 0;
}

input[name^="like"]:checked+label[for] .fa .fa-heart,
input[name^="favourite"]:checked+label[for] .fa .fa-star {
    opacity: 1;
}

input[name^="like"]:checked+label[for] .fa .fa-heart.fx,
input[name^="favourite"]:checked+label[for] .fa .fa-star.fx {
    -moz-animation: expand .65s cubic-bezier(.43, .475, 1, .08);
    -o-animation: expand .65s cubic-bezier(.43, .475, 1, .08);
    -webkit-animation: expand .65s cubic-bezier(.43, .475, 1, .08);
    animation: expand .65s cubic-bezier(.43, .475, 1, .08);
    opacity: 0;
}

/*end icons*/

/*start animation*/
@keyframes expand {
    0% {
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -moz-transform: scale(2, 2);
        -o-transform: scale(2, 2);
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        opacity: .7;
    }

    100% {
        -moz-transform: scale(6, 6);
        -o-transform: scale(6, 6);
        -webkit-transform: scale(6, 6);
        transform: scale(6, 6);
        opacity: 0;
    }
}

/*end animation*/


.fav {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 15px;
}

.fav:disabled {
    pointer-events: none;
}

.fav:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: white;
    border: 2px solid #fd5c63;
    color: #fd5c63;
}

.yes {
    border: 2px solid #fd5c63;
    color: #fd5c63;
}