@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.card {
    width: 350px;
    height: 120px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 0.75rem 0;
}

.card h1 {
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    left: 15px;
}

.card .additional {
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(rgb(126, 147, 167), rgb(126, 147, 167));
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.additional:hover {
    width: 100%;
    border-radius: 0 5px 5px 0;
}


.card .additional .user-card {
    width: 100px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .more-info .user-card .level,
.card .additional .more-info .user-card .points {
    color: #fff;
    text-transform: lowercase;
    font-size: 0.65em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.70rem;
    border-radius: 100px;
    white-space: nowrap;
    left: 9px;
}

.card .additional .more-info .user-card .level {
    position: absolute;
    top: 0%;
}

.card .additional .more-info .user-card .avail {
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 90px;
    border: 1px white;
    width: 50px;
    height: 50px;
    background-color: white;
}

.card .additional .more-info .user-card .avail h1 {
    font-size: 1.5rem;

}

.card .additional .more-info .user-card .points {
    position: absolute;
    font-style: italic;
    font-size: 0.5rem;
    top: 70%;
    left: 15%;
    font-style: italic;

}

.card .additional .more-info .user-card .points:hover {
    box-shadow: rgba(235, 229, 229, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    margin-top: 1rem;
    height: 100%;
}


.card .additional .coords {
    margin: 0 8rem;
    color: #fff;
    font-size: 0.75rem;
    width: 70%;
}

.card .additional .coords span+span {
    float: right;
}

.card .additional .stats {
    font-size: 0.75rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 5.2rem;
    /* right: 1rem; */
    top: auto;
    color: #fff;
    width: 100%;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 1rem;
}

.card .general {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;

}

.card .general a {
    font-size: 0.8rem;
    text-align: right;
    padding: 10px;
}

.card .general a:hover {
    box-shadow: #4f81c7, 0 8px 15px;
    transform: translateY(-5px);
    color: #4f81c7;
}



.fav {
    appearance: none;
    background-color: #f6e198;
    border: 2px solid #f6e198;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fd5c63;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: normal;
    padding: 7px 10px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    margin-top: 0.5rem;
    margin-left: 4.5rem;

}

.fav:disabled {
    pointer-events: none;
}

.fav:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: #8d62f7;
    border: 2px solid #8d62f7;
    color: white;
}

.favorited {
    border: 2px solid #8d62f7;
    background-color: #8d62f7;
    color: white;
}

.map-icon {
    color: #fd5c63;
    margin-right: 10px;
}

.react-icons {
    margin-right: 5px;
}